# Database Connection
DATABASE_URL=""

# Neon Authentication
NEXT_PUBLIC_NEON_AUTH_URL=""
NEON_AUTH_URL=""
NEON_AUTH_COOKIE_SECRET=""

# Cloudinary Config (for image uploads)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Resend Email Config (for email notifications)
RESEND_API_KEY=""

# Optional: Demo Login Credentials
NEXT_PUBLIC_DEMO_USER_MAIL=""
NEXT_PUBLIC_DEMO_USER_PASS=""
